#home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1vw;
  padding-top: 6vw;
  padding-left: 6vw;
  padding-right: 3vw;
  padding-bottom: 3vw;
  box-sizing: border-box;
}

.video-item {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  padding: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.video-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  border-radius: 8px;
  background-color: rgb(240, 230, 230);
}

.video-item:hover .video-thumbnail {
  filter: brightness(70%);
}

.video-item p {
  margin: 0;
  padding: 0;
  color: rgb(99, 96, 96);
}

#title_img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1vw;
}

#title_img h4 {
  margin-top: 0vw;
  margin-bottom: 0;
  margin-left: 0.5vw;
  padding: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  width: 100%;
  white-space: normal;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.loading-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#view_time {
  display: flex;
  margin: 0;
  margin-left: 2.4vw;
}

#publishdate {
  margin: 0;
  padding-left: 0.2vw;
}

.channel-info {
  display: flex;
  align-items: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.channel-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#channelTitle {
  margin-left: 2.4vw;
}
