.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 6vw;
  box-sizing: border-box;
}

.videoItem {
  display: flex;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}

.videoItem:hover {
  transform: translateY(-2px);
}

.videoThumbnail {
  width: 35vw;
  height: 20vw;
  border-radius: 10px;
  margin-right: 10px;
}

.videoContent {
  width: 60%;
}

.videoHeader {
  top: 0;
  align-items: center;
  margin-bottom: 1vw;
}

.channelProfile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.videoTitle {
  margin: 0;
  margin-bottom: 0.5vw;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.channelTitle {
  margin: 0;
}

.viewTimeInfo {
  display: flex;
  gap: 1vw;
}

.viewCount,
.publishDate {
  margin: 0;
}

.loadingMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.videoMeta{
  display: flex;
  gap: 0.5vw;

}
.videoChannel{
  display: flex;
  gap: 0.3vw;
  margin-left: 0;
  align-items: center;
  padding-top: 0.7vw;
}

.videoDescription {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  color: #666;
  margin-top: 2vw;
}
