.Sidenav {
  position: fixed;
  top: 4vw; /* Right below the navbar */
  left: 0vw;
  width: 5vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 0;
  background-color: white; /* Adjust as needed */
  z-index: 999;
}

.firsticon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5vw;
  width: 5vw;
  height: 5vw;
  margin-left: 2.5vw;
  /* font-size: min(2.5vw, 2.5vw); */
  color: black;
}

.firsticon a {
  display: flex;
  color: inherit;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}

.firsticon a h1{
  /* margin-left: 2vw; */
  text-decoration: none;
  font-weight: normal;
  padding: 0;
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 0.8vw;

}
.firsticon a img {
  /* margin-left: 2vw; */
  width: 1.5vw;
  height: 1.5vw;
  
  padding: 0;
}
#ii{
  /* margin-left: 2vw; */
}